.game-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/board.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card-stack {
    position: absolute;
    display: flex;
    left: 60%;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        width: 120px;
        cursor: pointer;
    }
}